

<%#= render "users/shared/links" %>




								<div class="col-md-6 col-sm-6 col-xs-12">					   		
								   		<h2 class="checkout-title">New Customer</h2>
								   		<p>Sign in with social media</p>
								   		<div class="xs-margin"></div>
								   		
								   		<%= link_to image_tag("images.jpeg", :width => 150, :height => 100), user_omniauth_authorize_path(:twitter) %>
										<%= link_to image_tag("linkedin.jpeg", :width => 150, :height => 100),user_omniauth_authorize_path(:linkedin) %>
										<%= link_to image_tag("face.jpeg", :width => 150, :height => 100), user_omniauth_authorize_path(:facebook) %>



								   	<p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
									<div class="md-margin"></div>
								   	
								   	</div><!-- End .col-md-6 -->
								   
								   	<div class="col-md-6 col-sm-6 col-xs-12">


								   		<h2 class="checkout-title">Registered Customers</h2>
								   		<p>If you have an account with us, please log in.</p>
								   		<div class="xs-margin"></div>
								   		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
										<div class="input-group">
										
											<span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
											
											<%= f.input :email, required: true,input_html: { :class => 'form-control input-lg' } , autofocus: true,placeholder:"Your Email",label: false%>

										</div><!-- End .input-group -->
										<div class="input-group xs-margin">
											<span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Password&#42;</span></span>

											<!--<input type="text" required class="form-control input-lg" placeholder="Your Password">-->

											<%= f.input :password, required: true,input_html: { :class => 'form-control input-lg' },placeholder:"Your Password",label: false%>

										</div><!-- End .input-group -->
										<span class="help-block text-right"><%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                                             <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                                        <% end -%></span>

								   		
								   		<div class="input-group custom-checkbox sm-margin top-10px">
											 <input type="checkbox"> <span class="checbox-container">
											 	<i class="fa fa-check"></i>
											 </span>

											 <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>


											

											
    											
    											
    											 <%= f.button :submit,"signin", class: 'btn btn-custom-2' %>
  											
											 
											 <%#= f.input :email, required: true, class:"form-control input-lg", autofocus: true,placeholder:"Your Email"%>

										 
										</div><!-- End .input-group -->
										<% end %>
								   	</div><!-- End .col-md-6 -->
								   	
								   </div><!-- End.row -->
								   
								   
								   <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  									<%= link_to "Sign up", new_registration_path(resource_name),class: 'btn btn-custom-2' %><br />
									<% end -%>

								  </div><!-- End .panel-body -->
								</div><!-- End .panel-collapse -->
							  
							  </div><!-- End .panel -->

							  <%#= f.input :email, required: true, class:"form-control input-lg", autofocus: true,placeholder:"Your Email"%>
