<h1>Listing productcategories</h1>
<h3>Main Categories</h3>
  <ul>
    <% @productcategories.each do |productcategory| %>
       <% if productcategory.root?%>
          <br>
          <br>
           <li>
            <h4><div class="some_trigger1" ><%= link_to productcategory.name, productcategory,  remote: true%>
            </div></h4>
            <!--
            <% parentid=productcategory.id%>
            <p class="para"></p>
            
            <div class="btn btn-default">
              <%= link_to 'Edit', edit_productcategory_path(productcategory) %> 
            </div> 
            <div class="btn btn-danger">
              <%= link_to 'Destroy', productcategory, method: :delete, data: { confirm: 'Are you sure?' } %> 
            </div>
            <div class="btn btn-default">
              <%= link_to 'Add Sub Category', new_productcategory_path(parent_id: parentid) %>
            </div>
            -->
            <div id="interactionContainer<%=productcategory.id%>" class="interactionContainer"></div>

          </li>

        <% end %>
    <% end %>
<br>
<!--<div class="btn btn-success"><%= link_to 'New Productcategory', new_productcategory_path(parent_id: 0) %></div>-->
