<p id="notice"><%= notice %></p>

<p>
  
  <u><h2><%= @productcategory.name%></h2></u>
</p>
<%if @productcategory.products.count == 0 %>
  <h3>No Stock in <%= @productcategory.name%></h3>
<% else %>
  <ul>

    <% @productcategory.products.each do |product| %>
      <li><%= link_to product.name ,productcategory_product_path(@productcategory,product)%>    </li>
  
    <% end %>
  </ul>
<%end%>
<%= link_to 'Back', productcategories_path %>


