<%= simple_form_for([@productcategory,@product]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.hidden_field :productcategory_id, :value => @productcategory.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
