<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <%= image_tag @product.productimage_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Productcategory:</strong>
  <%= @product.productcategory.name %>
</p>

<%= link_to 'Back', productcategory_path(@productcategory) %>|
<!--
  <%= link_to 'Edit', edit_productcategory_product_path(@productcategory,@product) %> 
  <%= link_to 'Destroy', productcategory_product_path(@productcategory,@product), method: :delete, data: { confirm: 'Are you sure?' } %>
-->



