<!DOCTYPE html>
<html>
<head>
  <title>Letshopify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

    <!--header of page-->
    <header id="header">
      
        <%= render "layouts/headertop"%>
        <%= render "layouts/headerbottom"%>


    </header><!-- End #header -->



<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

    <!--section of page-->
    <%= yield %>

    <!--footer of page-->
    <%= render "layouts/footer"%> 

    <!--scroll top-->
    <a href="#" id="scroll-top" title="Scroll to Top"><i class="fa fa-angle-up"></i></a><!-- End #scroll-top -->
    <%= render "layouts/scriptlinks"%>
  </div><!--end of wrapper-->

</body>
</html>

